<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>은행 서비스</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script>
        function openSearchPopup() {
            const width = 1200;
            const height = 1000;
            const left = (window.innerWidth - width) / 2;
            const top = (window.innerHeight - height) / 2;

            window.open('/searchCompany', '기업검색', `width=${width},height=${height},left=${left},top=${top}`);
        }

        function validateForm(Element) {
            const hiddenValue = Element.value.trim();
            if (!hiddenValue) {
                alert("고객정보가 선택되지 않았습니다!");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<!-- 페이지 제목 -->
<h1 class="dashboard-title">은행 서비스 메인 페이지</h1>
<div th:if="${isAuthentication}">
    <p>안녕하세요, <span th:text="${name}"></span> <span th:text="${title}"></span>님!</p>
    <p>Phone: <span th:text="${phone}"></span><br>Email: <span th:text="${email}"></span></p>
</div>

<!-- 사용자 인증 여부에 따른 버튼 그룹 -->
<div class="button-group-container">
    <div class="button-group">
        <div th:if="${isAuthentication}">

            <button class="button button-secondary" onclick="location.href='/logout'">로그아웃</button>
            <button class="button button-secondary" onclick="location.href='/userInfoEdit'">회원정보 수정</button>
        </div>
        <div th:if="${!isAuthentication}">
            <button class="button button-secondary" onclick="location.href='/login'">로그인</button>
            <button class="button button-secondary" onclick="location.href='/signup'">회원가입</button>
        </div>
    </div>
    <div class="button-group" th:if="${isAuthentication}">
        <div th:if="${isManager}">
            <form action="/workingToClient" method="post" onsubmit="return validateForm(companyIDWork)">
                <div class="form-group">
                    <button type="button" class="button button-secondary" onclick="openSearchPopup()">고객정보 선택하기</button>
                    <input type="hidden" id="companyIDWork" name="companyIDWork" readonly required>
                    <input type="text" id="companyNameWork" name="companyNameWork" placeholder="아직 선택되지 않았습니다" readonly>
                    <input type="hidden" name="_csrf" value="${_csrf.token}">
                    <button type="submit" class="button button-primary">업무페이지로 이동</button>
                </div>
            </form>
        </div>
        <div th:if="${!isManager}">
            <button class="button button-primary" onclick="location.href='/clientHome'" th:if="${isClientLinked}">은행뱅킹</button>
            <form th:if="${!isClientLinked}" action="/connectClientCode" method="post" onsubmit="return validateForm(companyID)">
                <div class="form-group">
                    <button type="button" class="button button-secondary" onclick="openSearchPopup()">고객정보 선택하기</button>
                    <input type="hidden" id="companyID" name="companyID" readonly required>
                    <input type="text" id="companyName" name="companyName" placeholder="아직 선택되지 않았습니다" readonly>
                    <input type="hidden" name="_csrf" value="${_csrf.token}">
                    <button type="submit" class="button button-primary">고객정보 저장하기</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
